{% if user.is_authenticated %}

<form id="logoutForm" action="/logout/" method="post" class="navbar-right">

    <!--質問:<form> 要素に表示される {% csrf_token %} タグの目的は何ですか。
        回答:{% csrf_token %} タグには Django の組み込みの
        クロスサイト リクエスト フォージェリ (csrf) 保護 (Django docs) が含まれています。
        このタグは通常、フォームなどの POST、PUT、または DELETE 要求のメソッドに関連する
        任意の要素に追加します。 
        その後、テンプレートのレンダリング関数 (render) により、必要な保護が挿入されます。
        -->

    {% csrf_token %}
    <ul class="nav navbar-nav navbar-right">
        <li><span class="navbar-brand">ログイン中（ {{ user.username }}）</span></li>

        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <!--[Log off] リンクは単純に相対 URL "/login" に対する POST を実行します。
            これは、組み込みのビュー django.contrib.auth.views.logout によって処理されます。 
            このビューには UI が表示されず、ホーム ページへの移動のみを行います
            (urls.py の "^logout$" パターンで確認できます)。
            ログオフ ページを表示する場合は、最初に、次のように URL パターンを変更して、
            "template_name" プロパティを追加し "next_page" プロパティを削除します。
            -->
    </ul>

</form>

{% else %}

<ul class="nav navbar-nav navbar-right">
    <li><a href="{% url 'login' %}">Log in</a></li>
</ul>

{% endif %}
